.viewDataInstitutions {
  .contentTitle {
    display: block;
    margin: 0px 0px 50px 0px;
    float: unset;
    width: 500px;
  }
  .viewDataContent {
    span {
      display: block;
      width: auto;
      padding: 6px 5px;
      margin: 18px 0px;
      text-align: center;
      border-radius: 20px;
      color: #fff;
      min-width: 80px;
      max-width: 80px;
    }
    p {
      font-size: 16px;
      color: #000;
      font-weight: 600;
    }
    select {
      min-height: 50px;
      padding: 10px;
      border: 1px solid #78787866;
      border-radius: 5px;
      box-sizing: border-box;
      outline-color: var(--primary-color);
    }
  }
}
