.mainHeader {
  .NavContent {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 7%);
    div {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
    }
  }
  .link {
    justify-content: flex-end;
    .routeTo {
      margin-right: 3rem;
      border: 1.5px solid var(--secondary-color);
      padding: 6px 20px;
      border-radius: 7px;
    }
  }
}
